*.o
obj/*

# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.lck
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
\#auto_saved_files#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Backups
*-backups/

# Project Local Settings files (See https://forum.kicad.info/t/new-project-file-format/23705)
*.kicad_prl
.DS_Store 

# Production files
**/ibom.html

/processor/production/backups
